# Compiled binaries
*.o
STMCpp/STM
STMCpp/STM_info

# Compiled documentation
Documentation/build

# Temporary files
*.swp

**/__pycache__/*


Documentation/TestData/Processed_DATA/MyExperiment/*

STMCpp/*.h5

*.pstats
profile.png

**/__pythran__
**/.venv

.pdm-python

settings.json

/data
/raw_data

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/
*.pyc