[submodule "PTVcalib"]
	path = PTVcalib
	url = git@github.com:jtbreis/PTVcalib.git
[submodule "4BE-ETI"]
	path = 4BE-ETI
	url = git@github.com:jtbreis/4BE-ETI.git
[submodule "mcflow_plotting"]
	path = mcflow_plotting
	url = git@github.com:jtbreis/mcflow-plotting.git
[submodule "ptv_weblauncher"]
	path = ptv_weblauncher
	url = git@github.com:jtbreis/ptv_weblauncher.git
